PRU_BASE_URL=https://pru-tms-dev.ap-southeast-1.elasticbeanstalk.com
PRU_LOGIN_USERNAME=admin
PRU_LOGIN_PASSWORD=admin

PRU_TEST_POLICY_NUMBER=200000020
PRU_TEST_ECN=RD202633001020
PRU_TEST_ERROR_ID=0302
